html, body {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
}

html {
  background: url("media/bg.png") center, no-repeat;
}

#banner {
  width: 80vw;
  height: 8vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  color: #151515;
  background-color: #FC4445;
}

#banner img {
  height: 6vw;
  padding-left: 1vw;
}

nav {
  width: 80vw;
  height: 3vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.4vw;
  color: #FC4445;
  background-color: #151515;
}

nav ul {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  line-height: 3vw;
}

nav ul li {
  width: 10vw;
  padding: 0 0.6vw;
  text-align: center;
  cursor: pointer;
}

nav ul li:hover {
  color: #000;
  background-color: #FC4445;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

nav input {
  width: 20vw;
  height: 1.5vw;
  margin: 0.5vw 1.5vw;
  -webkit-transition: all 1000ms ease-in-out;
  transition: all 1000ms ease-in-out;
}

#mobileNav {
  position: absolute;
  display: none;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

.newsWrap {
  width: 80vw;
  height: 37vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#topArticle {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  overflow: hidden;
  cursor: pointer;
  border: solid 0.3vw #f4f4f4;
  background-color: rgba(21, 21, 21, 0.4);
  width: 50%;
  height: 37vw;
}

#topArticle h1 {
  font-size: 5vw;
  z-index: 20;
}

#topArticle p {
  font-size: 2vw;
  padding: 1vw 0.5vw;
  z-index: 20;
}

#topArticle .hBox {
  height: 45%;
}

#topArticle .topic {
  font-size: 2vw;
}

.topic {
  width: 25%;
  height: 8%;
  font-size: 1vw;
  font-weight: bold;
  padding: 1% 0 0 1%;
  border-radius: 0 1vw 1vw 0;
  z-index: 20;
  color: #000;
  background-color: #FC4445;
}

.title {
  font-size: 3vw;
  z-index: 20;
  padding-left: 0.5vw;
}

.preview {
  font-size: 1.5vw;
  padding: 1vw 0.5vw;
  z-index: 20;
}

.hBox {
  position: absolute;
  left: -100%;
  height: 48%;
  width: 100%;
  opacity: 0.8;
  background-color: #FC4445;
  -webkit-transition: 1000ms ease-in-out;
  transition: 1000ms ease-in-out;
}

.artImg {
  position: absolute;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

#secondWrap {
  width: 50%;
  height: 37vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#secondWrap #secondTop {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  overflow: hidden;
  cursor: pointer;
  border: solid 0.3vw #f4f4f4;
  background-color: rgba(21, 21, 21, 0.4);
  width: 100%;
  height: 18.5vw;
  z-index: 1;
}

#secondWrap #secondTop .hBox {
  height: 40%;
}

#storyWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.newsMinor {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  overflow: hidden;
  cursor: pointer;
  border: solid 0.3vw #f4f4f4;
  background-color: rgba(21, 21, 21, 0.4);
  height: 18.5vw;
  width: 20vw;
}

.col1 {
  height: 18.5vw;
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.col1 .newsWide {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  overflow: hidden;
  cursor: pointer;
  border: solid 0.3vw #f4f4f4;
  background-color: rgba(21, 21, 21, 0.4);
  width: 32.5vw;
  height: 18.5vw;
}

.col2 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  overflow: hidden;
  cursor: pointer;
  border: solid 0.3vw #f4f4f4;
  background-color: rgba(21, 21, 21, 0.4);
  width: 80vw;
  height: 20vw;
  margin: 0 auto;
}

.col2 .hBox {
  height: 37%;
}

.col2 .topic {
  padding-top: 0.5%;
}

footer {
  width: 80vw;
  height: 15vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FC4445;
}

#footBox {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#footBox img {
  height: 10vw;
  padding-top: 1vw;
}

#footBox table {
  width: 30vw;
  height: 8vw;
  padding-top: 10vw;
  text-align: left;
  border-collapse: collapse;
}

#footBox table th {
  height: 2vw;
  font-size: 1.2vw;
  font-weight: bold;
  color: #333;
}

#footBox table td {
  height: 0.5vw;
  font-size: 1vw;
  cursor: pointer;
}

#footBox i {
  height: 2vw;
  width: 2vw;
  text-align: center;
  line-height: 2vw;
  font-size: 1vw;
  border-radius: 25vw;
  cursor: pointer;
  color: #FC4445;
  background-color: #fff;
}

#footBox i:nth-child(1) {
  margin: 0.3vw 0;
}

#pageWrapper {
  width: 80vw;
  margin: 0 auto;
}

.tBanner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  overflow: hidden;
  cursor: pointer;
  border: solid 0.3vw #f4f4f4;
  background-color: rgba(21, 21, 21, 0.4);
  width: 80vw;
  height: 20vw;
  margin: 0 auto;
  text-align: center;
  line-height: 20vw;
  font-size: 7vw;
  background-color: rgba(252, 68, 69, 0.5);
}

.tBox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  overflow: hidden;
  cursor: pointer;
  border: solid 0.3vw #f4f4f4;
  background-color: rgba(21, 21, 21, 0.4);
  height: 40vw;
  width: 40vw;
}

.col3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.col3 .hBox {
  height: 28%;
}

.col3 .topic {
  width: 35%;
  padding-top: 4%;
  font-size: 1.6vw;
}

.col4 {
  height: 27vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.col4 .hBox {
  height: 28%;
}

.col4-long {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  overflow: hidden;
  cursor: pointer;
  border: solid 0.3vw #f4f4f4;
  background-color: rgba(21, 21, 21, 0.4);
  width: 50vw;
}

.col4-short {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  overflow: hidden;
  cursor: pointer;
  border: solid 0.3vw #f4f4f4;
  background-color: rgba(21, 21, 21, 0.4);
  width: 30vw;
}

.col4-short .topic {
  padding-top: 2%;
}

.col4-xLong {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  overflow: hidden;
  cursor: pointer;
  border: solid 0.3vw #f4f4f4;
  background-color: rgba(21, 21, 21, 0.4);
  height: 25vw;
}

.col4-xLong .hBox {
  height: 30%;
}

.col4-xLong .topic {
  padding-top: 0.7%;
}

/*--------------------------------MEDIA QUERIES*/
@media only screen and (max-width: 768px) {
  /*----------------MIXINS*/
  /*---------------VARIABLES*/
  /*---------------BANNER & NAV*/
  #banner {
    width: 100vw;
    height: 12vw;
  }
  #banner img {
    height: 10vw;
  }
  nav {
    width: 100vw;
    height: 7vw;
    font-size: 2.4vw;
  }
  nav ul {
    width: 50%;
    line-height: 7vw;
  }
  nav input {
    width: 22vw;
    height: 3.5vw;
    margin: 1.3vw 1.5vw;
    font-size: 2.4vw;
  }
  /*---------------TOP STORIES*/
  .newsWrap {
    width: 90vw;
    height: 75vh;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #topArticle {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    overflow: hidden;
    cursor: pointer;
    border: solid 0.5vw #f4f4f4;
    background-color: rgba(21, 21, 21, 0.4);
    width: 100%;
    height: 35vh;
  }
  #topArticle h1 {
    font-size: 5vw;
    z-index: 20;
  }
  #topArticle p {
    font-size: 2vw;
    padding: 1vw 0.5vw;
    z-index: 20;
  }
  #topArticle .hBox {
    height: 42%;
  }
  #topArticle .topic {
    width: 50%;
    height: 10%;
    font-size: 2vw;
    padding-top: 0.3%;
  }
  .topic {
    width: 40%;
    height: 8%;
    font-size: 2vw;
  }
  .hBox {
    height: 28%;
  }
  /*----------------------TOP RIGHT STORIES*/
  #secondWrap {
    width: 100%;
    height: 50vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #secondWrap #secondTop {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    overflow: hidden;
    cursor: pointer;
    border: solid 0.5vw #f4f4f4;
    background-color: rgba(21, 21, 21, 0.4);
    height: 40vh;
    width: 30vw;
    z-index: 1;
  }
  #secondWrap #secondTop .hBox {
    height: 27%;
  }
  #secondWrap #secondTop .topic {
    height: 10%;
    font-size: 2vw;
    padding-top: 0.5%;
  }
  .newsMinor {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    overflow: hidden;
    cursor: pointer;
    border: solid 0.5vw #f4f4f4;
    background-color: rgba(21, 21, 21, 0.4);
    height: 40vh;
    width: 30vw;
  }
  .newsMinor .hBox {
    height: 23%;
  }
  .newsMinor .topic {
    font-size: 2vw;
    width: 40%;
  }
  /*----------------------COL 1*/
  .col1 {
    height: 40vh;
    width: 90vw;
  }
  .col1 .newsWide {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    overflow: hidden;
    cursor: pointer;
    border: solid 0.5vw #f4f4f4;
    background-color: rgba(21, 21, 21, 0.4);
    height: 40vh;
    width: 30vw;
  }
  /*----------------------COL 2*/
  .col2 {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    overflow: hidden;
    cursor: pointer;
    border: solid 0.5vw #f4f4f4;
    background-color: rgba(21, 21, 21, 0.4);
    width: 90vw;
    height: 50vh;
  }
  .col2 .hBox {
    height: 19%;
  }
  .col2 .topic {
    padding-top: 0.5%;
  }
  /*-------------------FOOTER*/
  footer {
    width: 100vw;
  }
  #footBox {
    padding-top: 2vw;
  }
  #footBox table th {
    font-size: 1.5vw;
  }
  #footBox table td {
    font-size: 1.3vw;
  }
  #footBox i {
    height: 2.5vw;
    width: 2.5vw;
    line-height: 2.5vw;
    font-size: 1.5vw;
  }
}

@media only screen and (max-width: 480px) {
  /*----------------MIXINS*/
  /*---------------VARIABLES*/
  /*---------------BANNER & NAV*/
  html {
    background-image: none;
    background-color: green;
  }
  #banner {
    width: 100vw;
    height: 20vw;
  }
  #banner img {
    height: 18vw;
  }
  nav {
    position: relative;
    width: 100vw;
    height: 15vw;
    font-size: 4vw;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    font-size: 7vw;
  }
  nav ul {
    width: 100%;
    line-height: 15vw;
  }
  nav input {
    position: absolute;
    left: 120vw;
    width: 22vw;
    height: 3.5vw;
    margin: 4.5vw 1.5vw;
    font-size: 4vw;
  }
  #mainNav {
    display: none;
  }
  #mobileNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
  }
  /*---------------TOP STORIES*/
  .newsWrap {
    width: 100vw;
    height: 75vh;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #topArticle {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    overflow: hidden;
    cursor: pointer;
    border: solid 0.5vw #f4f4f4;
    background-color: rgba(21, 21, 21, 0.4);
    width: 100%;
    height: 35vh;
  }
  #topArticle h1 {
    font-size: 5vw;
    z-index: 20;
  }
  #topArticle p {
    font-size: 2vw;
    padding: 1vw 0.5vw;
    z-index: 20;
  }
  #topArticle .hBox {
    height: 42%;
  }
  #topArticle .topic {
    width: 50%;
    height: 10%;
    font-size: 2vw;
    padding-top: 0.3%;
  }
  .topic {
    width: 40%;
    height: 8%;
    font-size: 2vw;
  }
  .hBox {
    height: 28%;
  }
  /*----------------------TOP RIGHT STORIES*/
  #secondWrap {
    width: 100%;
    height: 50vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #secondWrap #secondTop {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    overflow: hidden;
    cursor: pointer;
    border: solid 0.5vw #f4f4f4;
    background-color: rgba(21, 21, 21, 0.4);
    height: 40vh;
    width: 30vw;
    z-index: 1;
  }
  #secondWrap #secondTop .hBox {
    height: 27%;
  }
  #secondWrap #secondTop .topic {
    height: 10%;
    font-size: 2vw;
    padding-top: 0.5%;
  }
  .newsMinor {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    overflow: hidden;
    cursor: pointer;
    border: solid 0.5vw #f4f4f4;
    background-color: rgba(21, 21, 21, 0.4);
    height: 40vh;
    width: 30vw;
  }
  .newsMinor .hBox {
    height: 23%;
  }
  .newsMinor .topic {
    font-size: 2vw;
    width: 40%;
  }
  /*----------------------COL 1*/
  .col1 {
    height: 40vh;
    width: 100vw;
  }
  .col1 .newsWide {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    overflow: hidden;
    cursor: pointer;
    border: solid 0.5vw #f4f4f4;
    background-color: rgba(21, 21, 21, 0.4);
    height: 40vh;
    width: 30vw;
  }
  /*----------------------COL 2*/
  .col2 {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    overflow: hidden;
    cursor: pointer;
    border: solid 0.5vw #f4f4f4;
    background-color: rgba(21, 21, 21, 0.4);
    width: 100vw;
    height: 50vh;
  }
  .col2 .hBox {
    height: 19%;
  }
  .col2 .topic {
    padding-top: 0.5%;
  }
  /*-------------------FOOTER*/
  footer {
    width: 100vw;
  }
  #footBox {
    padding-top: 2vw;
  }
  #footBox table th {
    font-size: 1.5vw;
  }
  #footBox table td {
    font-size: 1.3vw;
  }
  #footBox i {
    height: 2.5vw;
    width: 2.5vw;
    line-height: 2.5vw;
    font-size: 1.5vw;
  }
}
/*# sourceMappingURL=styles.css.map */